@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  box-shadow: black 3px 3px 5px;
}
